In [19]:
import sqlite3

from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
    select,
    text

)

from sqlalchemy.orm import sessionmaker

import pandas as pd     

import numpy as np

In [29]:
df = pd.read_json('catalog.json').T

In [18]:
print(df['coi_data'][0:2])
dict = df['coi_data'][0:2].to_dict()
print(dict)
print(df.columns)

SWA101    {'course_coi': 1.7000000000000002, 'course_lev...
SWA102    {'course_coi': 1.5, 'course_level_coi': 0.0, '...
Name: coi_data, dtype: object
{'SWA101': {'course_coi': 1.7000000000000002, 'course_level_coi': 0.0, 'curric_coi': 1.6, 'percent_in_range': 62.2}, 'SWA102': {'course_coi': 1.5, 'course_level_coi': 0.0, 'curric_coi': 1.6, 'percent_in_range': 62.2}}
Index(['coi_data', 'concurrent_courses', 'course_campus', 'course_credits',
       'course_description', 'course_id', 'course_offered', 'course_title',
       'department_abbrev', 'gpa_distro', 'is_bottleneck', 'is_gateway',
       'prereq_graph', 'prereq_string'],
      dtype='object')

In [ ]:
dropped_df = df.drop(columns=['is_gateway', 'prereq_graph', 'coi_data', ''])

SWA101      {'x': {'edges': {'from': {'8590': 'SWA 101'}, ...
SWA102      {'x': {'edges': {'from': {'8590': 'SWA 101', '...
SWA103      {'x': {'edges': {'from': {'8591': 'SWA 102', '...
SWA134      {'x': {'edges': {'from': {'8593': 'SWA 134'}, ...
SWA201      {'x': {'edges': {'from': {'8592': 'SWA 103', '...
                                  ...
HSERV482                                                 None
HSERV488                                                 None
HSERV490                                                 None
HSERV493                                                 None
HSERV499                                                 None
Name: prereq_graph, Length: 5777, dtype: object

In [17]:
#course offered contains values outside of seasons

unique_quarters = df['course_offered'].unique()

print([quarter for quarter in unique_quarters if len(quarter) < 9])

['S.', 'AS.', 'W.', 'Sp.', 'A.']

In [15]:
#filter out values that are not seasons
seasons = ['S.', 'A.', 'W.', 'Sp.', 'AS.']

df = df[df['course_offered'].isin(seasons)]

print(len(df['course_offered'].isin(seasons)))

878

In [14]:
seasons = ['S.', 'A.', 'W.', 'Sp.']
print(df['course_offered'].isin(seasons).sum())

865

In [12]:
#confirm class id is unique
print(len(df))
print(df['course_id'].nunique())

5777
5777

In [ ]:
#set up gpa 

gpa_data = df['gpa_distro'].apply(pd.Series)
gpa_data = gpa_data.applymap(lambda x: x.get('count', 0) if isinstance(x, dict) else None)
print(gpa_data.columns)
print(gpa_data.head())

RangeIndex(start=0, stop=41, step=1)
         0    1    2    3    4    5    6    7    8    9   ...   31   32   33  \
SWA101  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  2.0  2.0  1.0
SWA102  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  2.0  ...  1.0  3.0  4.0
SWA103  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  3.0  4.0  2.0
SWA134  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
SWA201  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0

         34   35   36    37    38    39    40
SWA101  2.0  7.0  9.0   7.0  21.0  15.0  88.0
SWA102  2.0  8.0  6.0  10.0  12.0  18.0  79.0
SWA103  0.0  5.0  4.0   5.0   3.0   9.0  39.0
SWA134  0.0  0.0  0.0   0.0   0.0   1.0  22.0
SWA201  0.0  0.0  0.0   0.0   0.0   0.0  12.0

[5 rows x 41 columns]

C:\Users\lucas\AppData\Local\Temp\ipykernel_19944\996865478.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  gpa_data = gpa_data.applymap(lambda x: x.get('count', 0) if isinstance(x, dict) else None)

In [ ]:
#calculating mean

gpa_values = np.array([i / 10 for i in range(41)], dtype = float)

total_counts = gpa_data[[i for i in range(41)]].sum(axis=1)

mean_gpa = (gpa_data * gpa_values).sum(axis=1) / total_counts
mean_gpa.name = 'mean_gpa'

In [42]:
df_mean_gpa = pd.concat([df, mean_gpa], axis=1)
print(df_mean_gpa.columns)
print(type(mean_gpa))

Index(['coi_data', 'concurrent_courses', 'course_campus', 'course_credits',
       'course_description', 'course_id', 'course_offered', 'course_title',
       'department_abbrev', 'gpa_distro', 'is_bottleneck', 'is_gateway',
       'prereq_graph', 'prereq_string', 'mean_gpa'],
      dtype='object')
<class 'pandas.core.series.Series'>

In [ ]:
df_dropped = df_mean_gpa.drop(columns=['gpa_distro', 'concurrent_courses', 'prereq_graph', 'coi_data', 'is_gateway', 'is_bottleneck', 'prereq_string'], inplace = False)
df_final = df_dropped.rename(columns = {'course_offered': 'quarters_offered'})

['seattle']

In [52]:
print(df_final.columns)
print(df_final.dtypes)
print(df_final['course_id'].head())
print(type(df_final['course_credits']))
print(df_final.info())

Index(['course_campus', 'course_credits', 'course_description', 'course_id',
       'quarters_offered', 'course_title', 'department_abbrev', 'mean_gpa'],
      dtype='object')
course_campus          object
course_credits         object
course_description     object
course_id              object
quarters_offered       object
course_title           object
department_abbrev      object
mean_gpa              float64
dtype: object
SWA101    SWA 101
SWA102    SWA 102
SWA103    SWA 103
SWA134    SWA 134
SWA201    SWA 201
Name: course_id, dtype: object
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
Index: 5777 entries, SWA101 to HSERV499
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   course_campus       5777 non-null   object
 1   course_credits      5777 non-null   object
 2   course_description  4230 non-null   object
 3   course_id           5777 non-null   object
 4   quarters_offered    1978 non-null   object
 5   course_title        5777 non-null   object
 6   department_abbrev   5777 non-null   object
 7   mean_gpa            3534 non-null   float64
dtypes: float64(1), object(7)
memory usage: 535.2+ KB
None

In [59]:
print(df_final.loc[df_final['department_abbrev'].str.contains('CS')]['department_abbrev'].unique())
print(df_final['course_credits'].head())

['CSE' 'ETHICS']
SWA101     5.0
SWA102     5.0
SWA103     5.0
SWA134    15.0
SWA201     5.0
Name: course_credits, dtype: object

In [53]:
# Connect to the SQLite database
conn = sqlite3.connect('courses_temp.db')
cursor = conn.cursor()

# Define table name
table_name = 'class_data'  # Adjust this to match your actual table name


# Insert DataFrame into the SQLite table
df_final.to_sql(table_name, conn, index=False)

5777

In [66]:
print(df_final.loc[(df_final['department_abbrev'].str.contains('URBAN'))])

Empty DataFrame
Columns: [course_campus, course_credits, course_description, course_id, quarters_offered, course_title, department_abbrev, mean_gpa]
Index: []