In [1]:
from query import Query

c:\Users\lucas\.pyenv\pyenv-win\versions\3.11.0\Lib\site-packages\pinecone\data\index.py:1: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from tqdm.autonotebook import tqdm

In [2]:
query_curr = Query('Show me classes about Introductory survey of topics and problems in African American history with some attention to Africa as well as to America. Basic introductory course for sequence of lecture courses and seminars in African American history')

In [2]:
query_destructive = Query('Level 300 CS courses that have a rate my professor score over 3')

In [3]:
print(query_destructive.find_relevant_courses())

[NodeWithScore(node=TextNode(id_='4f059c24-2fcf-4988-9691-c12305f0ebd9', embedding=None, metadata={'sql_query': "SELECT department_abbrv, course_id, professor_name, teacher_rating\nFROM class_data\nWHERE department_abbrv = 'CSE' AND course_id >= 300 AND course_id < 400 AND teacher_rating > 3;", 'result': [('CSE', 311, 'Kevin Zatloukal', 3.9), ('CSE', 311, 'Kevin Zatloukal', 3.9), ('CSE', 331, 'Jaela Field', 5.0), ('CSE', 331, 'Matt Wang', 5.0), ('CSE', 331, 'Matt Wang', 5.0), ('CSE', 332, 'Robbie Weber', 4.8), ('CSE', 332, 'Robbie Weber', 4.8), ('CSE', 333, 'Hal Perkins', 3.8), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 390, 'Stuart Reges', 3.8), ('CSE', 391, 'Elba Garza', 4.1), ('CSE', 391, 'Elba Garza', 4.1), ('CSE', 311, 'Kevin Zatloukal', 3.9), ('CSE', 311, 'Kevin Zatloukal', 3.9), ('CSE', 331, 'Jaela Field', 5.0), ('CSE', 331, 'Matt Wang', 5.0), ('CSE', 331, 'Matt Wang', 5.0), ('CSE', 332, 'Robbie Weber', 4.8), ('CSE', 332, 'Robbie Weber', 4.8), ('CSE', 333, 'Hal Perkins', 3.8), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 390, 'Stuart Reges', 3.8), ('CSE', 391, 'Elba Garza', 4.1), ('CSE', 391, 'Elba Garza', 4.1)], 'col_keys': ['department_abbrv', 'course_id', 'professor_name', 'teacher_rating']}, excluded_embed_metadata_keys=['sql_query', 'result', 'col_keys'], excluded_llm_metadata_keys=['sql_query', 'result', 'col_keys'], relationships={}, metadata_template='{key}: {value}', metadata_separator='\n', text="[('CSE', 311, 'Kevin Zatloukal', 3.9), ('CSE', 311, 'Kevin Zatloukal', 3.9), ('CSE', 331, 'Jaela Field', 5.0), ('CSE', 331, 'Matt Wang', 5.0), ('CSE', 331, 'Matt Wang', 5.0), ('CSE', 332, 'Robbie Weber', 4.8), ('CSE', 332, 'Robbie Weber', 4.8), ('CSE', 333, 'Hal Perkins', 3.8), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 390, 'Stuart Reges', 3.8), ('CSE', 391, 'Elba Garza', 4.1), ('CSE', 391, 'Elba Garza', 4.1), ('CSE', 311, 'Kevin Zatloukal', 3.9), ('CSE', 311, 'Kevin Zatloukal', 3.9), ('CSE', 331, 'Jaela Field', 5.0), ('CSE', 331, 'Matt Wang', 5.0), ('CSE', 331, 'Matt Wang', 5.0), ('CSE', 332, 'Robbie Weber', 4.8), ('CSE', 332, 'Robbie Weber', 4.8), ('CSE', 333, 'Hal Perkins', 3.8), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 351, 'Ruth Anderson', 4.2), ('CSE', 390, 'Stuart Reges', 3.8), ('CSE', 391, 'Elba Garza', 4.1), ('CSE', 391, 'Elba Garza', 4.1)]", mimetype='text/plain', start_char_idx=None, end_char_idx=None, metadata_seperator='\n', text_template='{metadata_str}\n\n{content}'), score=None)]
else
combining course ids
grabbing course ids
['CSE311', 'CSE311', 'CSE331', 'CSE331', 'CSE331', 'CSE332', 'CSE332', 'CSE333', 'CSE351', 'CSE351', 'CSE351', 'CSE351', 'CSE390', 'CSE391', 'CSE391', 'CSE311', 'CSE311', 'CSE331', 'CSE331', 'CSE331', 'CSE332', 'CSE332', 'CSE333', 'CSE351', 'CSE351', 'CSE351', 'CSE351', 'CSE390', 'CSE391', 'CSE391']
reordered returns list:
['CSE311', 'CSE311', 'CSE331', 'CSE331', 'CSE331', 'CSE332', 'CSE332', 'CSE333', 'CSE351', 'CSE351', 'CSE351', 'CSE351', 'CSE390', 'CSE391', 'CSE391', 'CSE311', 'CSE311', 'CSE331', 'CSE331', 'CSE331', 'CSE332', 'CSE332', 'CSE333', 'CSE351', 'CSE351', 'CSE351', 'CSE351', 'CSE390', 'CSE391', 'CSE391']
SELECT * FROM courses WHERE 'Clean_Course_Code' IN ('CSE311', 'CSE311', 'CSE331', 'CSE331', 'CSE331', 'CSE332', 'CSE332', 'CSE333', 'CSE351', 'CSE351', 'CSE351', 'CSE351', 'CSE390', 'CSE391', 'CSE391', 'CSE311', 'CSE311', 'CSE331', 'CSE331', 'CSE331', 'CSE332', 'CSE332', 'CSE333', 'CSE351', 'CSE351', 'CSE351', 'CSE351', 'CSE390', 'CSE391', 'CSE391')
grabbing course ids
[]
final returns unsorted
<sqlalchemy.engine.cursor.CursorResult object at 0x000001F7BC7C7850>
final return course ids
[]
reordered returns
[]
[]

In [4]:
for row in cursor:
    print(row)

In [3]:
#returns = query_curr.find_relevant_course()
print(query_curr.find_relevant_courses())

[NodeWithScore(node=TextNode(id_='106881ba-e834-4304-b85f-7721ee24d60d', embedding=None, metadata={'sql_query': "SELECT department_abbrv, course_id, professor_name\nFROM class_data\nWHERE department_abbrv = 'AFRAM' AND course_id = 101;", 'result': [], 'col_keys': ['department_abbrv', 'course_id', 'professor_name']}, excluded_embed_metadata_keys=['sql_query', 'result', 'col_keys'], excluded_llm_metadata_keys=['sql_query', 'result', 'col_keys'], relationships={}, metadata_template='{key}: {value}', metadata_separator='\n', text='[]', mimetype='text/plain', start_char_idx=None, end_char_idx=None, metadata_seperator='\n', text_template='{metadata_str}\n\n{content}'), score=None)]
widen search
description
combining course ids
{}
reordered returns list:
[]
grabbing course ids
['SELECT department_abbrv', ' course_id', ' professor_name']
SELECT department_abbrv
 course_id
[]
[]

In [6]:
print(query_destructive.sql)

SELECT department_abbrv, course_id, professor_name, teacher_rating
FROM class_data
WHERE department_abbrv = 'CSE' AND course_id >= 300 AND course_id < 400 AND teacher_rating > 3
ORDER BY teacher_rating DESC;