In [1]:

from llama_index.core.retrievers import NLSQLRetriever

import sqlite3
import os
import llama_index
import sqlalchemy
import openai

from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
    select,
)

from llama_index.core import SQLDatabase
from llama_index.llms.openai import OpenAI


from sqlalchemy import text

In [2]:
import os
from sqlalchemy.orm import sessionmaker

In [2]:
api_key = os.getenv("OPENAI_API_KEY")
openai.api_key = api_key

In [9]:
#Establishing engines and connections



engine = create_engine("sqlite:///databases/courses_temp.db")

llm = OpenAI(temperature=0.1, model="gpt-3.5-turbo")
sql_database = SQLDatabase(engine, include_tables=["class_data"])

In [5]:
#sqlite query
cursor.execute("PRAGMA table_info(class_data)")
tables = cursor.fetchall()
for col in tables:
    print(col[1], col[2])

course_campus TEXT
course_credits TEXT
course_description TEXT
course_id TEXT
quarters_offered TEXT
course_title TEXT
department_abbrev TEXT
mean_gpa REAL

In [46]:

#sqlalchemy query

with engine.connect() as con:
    rows = con.execute(text("SELECT course_title, course_id\nFROM class_data\nWHERE department_abbrev = 'CSE'\nAND course_credits = '4.0'\nORDER BY mean_gpa DESC\nLIMIT 4"))
    for row in rows:
        print(row)

('Computer Vision', 'CSE 455')
('Computer Security', 'CSE 484')
('Datacenter Systems', 'CSE 453')
('Autonomous Robotics', 'CSE 478')

In [ ]:
course_ids = ['CSE 455', 'CSE 484']
formatted_ids = ", ".join(f"'{course_id}'" for course_id in course_ids)
print(f'{course_ids}')

['CSE 455', 'CSE 484']

In [56]:
returns = []
if returns:
    print("yes")

In [54]:

#sqlalchemy query

with engine.connect() as con:
    rows = con.execute(text(f'SELECT course_title, course_id\nFROM class_data\nWHERE course_id IN ({formatted_ids})'))
    for row in rows:
        print(row)

('Computer Vision', 'CSE 455')
('Computer Security', 'CSE 484')

In [10]:
#llama index retriever

nl_sql_retriever = NLSQLRetriever(
    sql_database, tables=["class_data"], return_raw=True
)

In [44]:
#llama index query retriever


query = """
Schema Context:
Department_abbrev column represents the department and is abbreviated in all caps. Example: CS for Computer Science.
Course_credits contain floating points. Example: 4.0.

Do not order by unless the question suggests that you should.

Always return course_id

Question:
What are some CSE courses with the highest average gpa?"""
 

response = nl_sql_retriever.retrieve(query)
print(response)

[NodeWithScore(node=TextNode(id_='0a273585-842e-4eaa-b9fa-aed137be4471', embedding=None, metadata={'sql_query': "SELECT course_id, mean_gpa\nFROM class_data\nWHERE department_abbrev = 'CSE'\nORDER BY mean_gpa DESC", 'result': [('CSE 496', 3.9976190476190476), ('CSE 460', 3.9870588235294115), ('CSE 498', 3.982476635514019), ('CSE 428', 3.940625), ('CSE 455', 3.9210769230769227), ('CSE 475', 3.9111111111111114), ('CSE 482', 3.907228915662651), ('CSE 481', 3.872076023391813), ('CSE 484', 3.871465461588121), ('CSE 453', 3.852100840336134), ('CSE 478', 3.851572327044025), ('CSE 458', 3.8224719101123594), ('CSE 464', 3.80919540229885), ('CSE 495', 3.801298701298701), ('CSE 427', 3.78663967611336), ('CSE 444', 3.768900804289544), ('CSE 180', 3.7555819477434675), ('CSE 493', 3.7503124999999997), ('CSE 469', 3.742528735632184), ('CSE 451', 3.7359999999999998), ('CSE 452', 3.7126271186440674), ('CSE 490', 3.6962088698140203), ('CSE 369', 3.694385026737968), ('CSE 442', 3.691517323775388), ('CSE 414', 3.6729121592384244), ('CSE 190', 3.6717791411042944), ('CSE 470', 3.6655172413793107), ('CSE 440', 3.6562073669849933), ('CSE 473', 3.6489376770538247), ('CSE 456', 3.648717948717949), ('CSE 431', 3.6336), ('CSE 422', 3.6265625), ('CSE 457', 3.624519230769231), ('CSE 131', 3.6107623318385653), ('CSE 446', 3.601107594936709), ('CSE 474', 3.593258426966292), ('CSE 412', 3.592705167173252), ('CSE 447', 3.592066805845511), ('CSE 371', 3.5902439024390245), ('CSE 441', 3.587878787878788), ('CSE 403', 3.5753880266075386), ('CSE 461', 3.5742028985507246), ('CSE 401', 3.5711267605633803), ('CSE 344', 3.537659783677483), ('CSE 459', 3.5375), ('CSE 351', 3.5310815666546893), ('CSE 332', 3.523400742880727), ('CSE 421', 3.5155805687203787), ('CSE 402', 3.4941176470588236), ('CSE 486', 3.479591836734694), ('CSE 333', 3.4794896957801766), ('CSE 312', 3.468426724137931), ('CSE 416', 3.4661406025824966), ('CSE 374', 3.4641951219512195), ('CSE 373', 3.454054054054054), ('CSE 311', 3.4491265597147946), ('CSE 163', 3.4382702702702703), ('CSE 331', 3.429256134969325), ('CSE 415', 3.367789757412399), ('CSE 341', 3.3672211350293546), ('CSE 426', 3.344), ('CSE 417', 3.2955859969558596), ('CSE 340', 3.2937777777777777), ('CSE 160', 3.2883333333333336), ('CSE 123', 3.2824902723735407), ('CSE 410', 3.2333333333333334), ('CSE 390', 3.2292307692307687), ('CSE 122', 3.189770821688094), ('CSE 413', 3.180625), ('CSE 472', 3.1277777777777778), ('CSE 121', 3.0125631768953065), ('CSE 143', 2.9663587374903773), ('CSE 154', 2.883772819472617), ('CSE 142', 2.8732639481317177), ('CSE 110', None), ('CSE 112', None), ('CSE 301', None), ('CSE 391', None), ('CSE 399', None), ('CSE 450', None), ('CSE 454', None), ('CSE 480', None), ('CSE 487', None), ('CSE 488', None), ('CSE 491', None), ('CSE 492', None), ('CSE 497', None), ('CSE 499', None)], 'col_keys': ['course_id', 'mean_gpa']}, excluded_embed_metadata_keys=['sql_query', 'result', 'col_keys'], excluded_llm_metadata_keys=['sql_query', 'result', 'col_keys'], relationships={}, metadata_template='{key}: {value}', metadata_separator='\n', text="[('CSE 496', 3.9976190476190476), ('CSE 460', 3.9870588235294115), ('CSE 498', 3.982476635514019), ('CSE 428', 3.940625), ('CSE 455', 3.9210769230769227), ('CSE 475', 3.9111111111111114), ('CSE 482', 3.907228915662651), ('CSE 481', 3.872076023391813), ('CSE 484', 3.871465461588121), ('CSE 453', 3.852100840336134), ('CSE 478', 3.851572327044025), ('CSE 458', 3.8224719101123594), ('CSE 464', 3.80919540229885), ('CSE 495', 3.801298701298701), ('CSE 427', 3.78663967611336), ('CSE 444', 3.768900804289544), ('CSE 180', 3.7555819477434675), ('CSE 493', 3.7503124999999997), ('CSE 469', 3.742528735632184), ('CSE 451', 3.7359999999999998), ('CSE 452', 3.7126271186440674), ('CSE 490', 3.6962088698140203), ('CSE 369', 3.694385026737968), ('CSE 442', 3.691517323775388), ('CSE 414', 3.6729121592384244), ('CSE 190', 3.6717791411042944), ('CSE 470', 3.6655172413793107), ('CSE 440', 3.6562073669849933), ('CSE 473', 3.6489376770538247), ('CSE 456', 3.648717948717949), ('CSE 431', 3.6336), ('CSE 422', 3.6265625), ('CSE 457', 3.624519230769231), ('CSE 131', 3.6107623318385653), ('CSE 446', 3.601107594936709), ('CSE 474', 3.593258426966292), ('CSE 412', 3.592705167173252), ('CSE 447', 3.592066805845511), ('CSE 371', 3.5902439024390245), ('CSE 441', 3.587878787878788), ('CSE 403', 3.5753880266075386), ('CSE 461', 3.5742028985507246), ('CSE 401', 3.5711267605633803), ('CSE 344', 3.537659783677483), ('CSE 459', 3.5375), ('CSE 351', 3.5310815666546893), ('CSE 332', 3.523400742880727), ('CSE 421', 3.5155805687203787), ('CSE 402', 3.4941176470588236), ('CSE 486', 3.479591836734694), ('CSE 333', 3.4794896957801766), ('CSE 312', 3.468426724137931), ('CSE 416', 3.4661406025824966), ('CSE 374', 3.4641951219512195), ('CSE 373', 3.454054054054054), ('CSE 311', 3.4491265597147946), ('CSE 163', 3.4382702702702703), ('CSE 331', 3.429256134969325), ('CSE 415', 3.367789757412399), ('CSE 341', 3.3672211350293546), ('CSE 426', 3.344), ('CSE 417', 3.2955859969558596), ('CSE 340', 3.2937777777777777), ('CSE 160', 3.2883333333333336), ('CSE 123', 3.2824902723735407), ('CSE 410', 3.2333333333333334), ('CSE 390', 3.2292307692307687), ('CSE 122', 3.189770821688094), ('CSE 413', 3.180625), ('CSE 472', 3.1277777777777778), ('CSE 121', 3.0125631768953065), ('CSE 143', 2.9663587374903773), ('CSE 154', 2.883772819472617), ('CSE 142', 2.8732639481317177), ('CSE 110', None), ('CSE 112', None), ('CSE 301', None), ('CSE 391', None), ('CSE 399', None), ('CSE 450', None), ('CSE 454', None), ('CSE 480', None), ('CSE 487', None), ('CSE 488', None), ('CSE 491', None), ('CSE 492', None), ('CSE 497', None), ('CSE 499', None)]", mimetype='text/plain', start_char_idx=None, end_char_idx=None, metadata_seperator='\n', text_template='{metadata_str}\n\n{content}'), score=None)]

In [26]:
print(response[0].get_content())
print(response[0].get_score())
print(response[0])
print(response[0].metadata)
print(type(response[0]))

[]
0.0
Node ID: 390cf0b6-de06-4ca8-a972-46cd42be5f65
Text: []
Score: None

{'sql_query': "SELECT course_title, course_description, course_credits \nFROM class_data \nWHERE department_abbrev = 'UDP' OR department_abbrev = 'URBAN' OR department_abbrev = 'DP' OR department_abbrev = 'URBDP' OR department_abbrev = 'URB'", 'result': [], 'col_keys': ['course_title', 'course_description', 'course_credits']}
<class 'llama_index.core.schema.NodeWithScore'>

In [30]:
if not response[0].metadata['result']:
    print("Condition met: result is falsy")

Condition met: result is falsy

In [32]:
response[0].metadata['sql_query'].splitlines()[0]

'SELECT course_title, course_description, course_credits '

In [40]:
sql = "SELECT course_title, course_description, course_credits /nFROM class_data /nWHERE department_abbrev = 'UDP' OR department_abbrev = 'URBAN' OR department_abbrev = 'DP' OR department_abbrev = 'URBDP' OR department_abbrev = 'URB AND test'"

for line_num, line in enumerate(sql.splitlines()):
    if 'WHERE' in line:
        where_clause = line
        line_num = line_num

        new_clause = where_clause.split('nothing')[:-1]
        split_sql = sql.splitlines()
        split_sql[line_num] = new_clause
        sql = split_sql

print(sql)
print(response[0].metadata['sql_query'])

[[]]
SELECT course_title, course_description, course_credits
FROM class_data
WHERE department_abbrev = 'UDP' OR department_abbrev = 'URBAN' OR department_abbrev = 'DP' OR department_abbrev = 'URBDP' OR department_abbrev = 'URB'